<%- include("partials/header.ejs") %>

<h1>Home</h1>
<p>
<%=data %>
</p>
<br>
<a href="/compose" class="btn btn-primary">Compose</a>
<br>
<% if (locals.array) { %>
<% array.forEach(function(element){ %>
<h1><%- element.title %></h1>
<p>
    <%- element.post.substring(0,100) %> ...
    <a href="posts/<%=element._id%>">Read more</a>
</p>
<form action="/delete" method="post">
<input type="submit" value="Delete" class="btn-outline-secondary">
<input type="hidden" name="id" value="<%= element._id %>">
</form>
<% }) %>
<% } %>
<%- include("partials/footer.ejs") %>